@import "./variables";
@import "./global";

.home {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1rem;

    &.isDesktop,
    &.isTablet {
        padding: 3rem;
    }
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 26px 30px -10px, rgba(0, 0, 0, 0.7) 0px 16px 10px -10px;
    background-color: $backgroundCloser;
    border-radius: $borderRadius;
    padding: 1rem;

    &.collapsed {
    }

    &.isDesktop,
    &.isTablet {
        padding: 2rem;
    }

    &.isLandscape {
        flex-direction: row;
        justify-content: center;
    }

    .info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;

        &.isLandscape {
            align-items: flex-end;
            padding-right: 2rem;
            width: 45%;
        }

        p {
            width: 100%;
            opacity: 0.3;
            font-size: 0.8rem;
            font-weight: 300;
            text-align: center;

            &.isLandscape {
                text-align: right;
            }

            &.isTablet {
                font-size: 0.9rem;
            }

            &.isDesktop {
                font-size: 1rem;
            }
        }

        h1 {
            width: 100%;
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
            font-weight: 500;
            text-align: center;

            &.isLandscape {
                text-align: right;
            }

            &.isTablet {
                font-size: 1.5rem;
            }

            &.isDesktop {
                font-size: 1.7rem;
            }
        }

        h2 {
            width: 100%;
            margin-bottom: 0.5rem;
            opacity: 0.5;
            font-size: 0.9rem;
            font-weight: 300;
            text-align: center;

            &.isLandscape {
                text-align: right;
                margin-bottom: 0;
            }

            &.isTablet {
                font-size: 0.9rem;
                max-width: 15rem;
            }

            &.isDesktop {
                font-size: 1.1rem;
                max-width: 18rem;
            }
        }
    }

    .image {
        position: relative;
        height: 70%;
        width: 100%;

        &.isLandscape {
            height: 100%;
            width: 55%;

            img {
                object-position: left center;
            }
        }

        img {
            object-fit: contain;
        }
    }
}
