@import "./variables";
@import "./global";

.home {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;

    &.isDesktop,
    &.isTablet {
        padding: 3rem;
    }
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 75%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 26px 30px -10px, rgba(0, 0, 0, 0.7) 0px 16px 10px -10px;
    background-color: $backgroundCloser;
    border-radius: $borderRadius;
    padding: 1rem;

    &.isDesktop,
    &.isTablet {
        padding: 2rem;
    }

    &.isLandscape {
        flex-direction: row;
        justify-content: center;
    }

    .info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;

        &.isLandscape {
            align-items: flex-end;
            width: 45%;
            padding-right: 2rem;
        }

        p {
            width: 100%;
            opacity: 0.3;
            font-size: 0.8rem;
            font-weight: 300;
            text-align: center;

            &.isLandscape {
                text-align: right;
            }

            &.isTablet {
                font-size: 0.9rem;
            }

            &.isDesktop {
                font-size: 1rem;
            }
        }

        h1 {
            width: 100%;
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
            font-weight: 500;
            text-align: center;

            &.isLandscape {
                text-align: right;
            }

            &.isTablet {
                font-size: 1.5rem;
            }

            &.isDesktop {
                font-size: 1.7rem;
            }
        }

        h2 {
            width: 100%;
            opacity: 0.5;
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
            font-weight: 300;
            text-align: center;

            &.isLandscape {
                margin-bottom: 0;
                text-align: right;
            }

            &.isTablet {
                max-width: 15rem;
                font-size: 0.9rem;
            }

            &.isDesktop {
                max-width: 18rem;
                font-size: 1.1rem;
            }
        }
    }

    .image {
        position: relative;
        height: 70%;
        width: 100%;

        &.isLandscape {
            height: 100%;
            width: 55%;

            img {
                object-position: left center;
            }
        }

        img {
            object-fit: contain;
        }
    }
}

.slider {
    $iconSize: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: visible;
    margin-top: 2rem;

    &.isDesktop,
    &.isTablet {
        margin-top: 3rem;
    }

    h1 {
        width: 100%;
        margin-bottom: 0.7rem;
        font-size: 0.8rem;
        font-weight: 500;

        &.isTablet {
            font-size: 0.9rem;
        }

        &.isDesktop {
            font-size: 1rem;
        }

        &.invisible {
            pointer-events: none;
            opacity: 0;
        }
    }

    .container {
        position: relative;
        display: flex;
        width: fit-content;
        overflow-x: visible;
    }

    .prevNextButton {
        pointer-events: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        transition: opacity 0.1s ease-in-out;
        top: 0;
        bottom: 0;
        left: 0;
        width: $iconSize;
        z-index: 1;
        opacity: 0;
        transform: translateX(-$iconSize);

        &.next {
            left: 100%;
            transform: translateX(0);
        }

        &.visible {
            &:hover {
                opacity: 1;
            }

            .iconContainer {
                pointer-events: all;
            }
        }

        .iconContainer {
            cursor: pointer;
            pointer-events: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;

            .icon {
                height: $iconSize;
                max-height: $iconSize;
                min-height: $iconSize;
                width: $iconSize;
                max-width: $iconSize;
                min-width: $iconSize;
                padding: 0.7rem;
            }
        }
    }
}

.sliderElem {
    $gap: 1.5rem;
    position: relative;
    overflow: visible;
    padding-right: $gap;

    &::before {
        display: inline-block;
        height: 0;
        padding-bottom: calc(100% / (1.77 / 1));
        content: "";
    }

    .aspectRatio {
        position: absolute;
        top: 0;
        right: $gap;
        bottom: 0;
        left: 0;
    }

    .container {
        position: relative;
        transition: transform 0.1s ease-in-out;
        transform: scale(1);
        height: 100%;
        width: 100%;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 26px 30px -10px, rgba(0, 0, 0, 0.7) 0px 16px 10px -10px;
        background-color: $backgroundCloser;
        border-radius: $borderRadius;

        &.outside {
            pointer-events: none;
            filter: brightness(0.2);
        }

        &.focused {
            transform: scale(1.05);
        }

        img {
            object-fit: cover;
        }
    }
}
